<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1 id="h1_title_text">Text Summarizer</h1>
    <form method="post" accept-charset="utf-8" name="Modelform">

        <textarea rows="5" type="text" name="txt_input" placeholder="Enter text to summarize" id="txt_input"
            minlength="1"></textarea>

        <button type="submit" id="btn_Submit" onclick="sendData()">Get summary</button>
        <br>
        <br>

        <h4><span id="summary"></span></h4>

    </form>

    <script>
        function form_handler(event) {
            event.preventDefault();
        }

        function sendData() {
            document.querySelector('form').addEventListener("submit", form_handler);

            var fd = new FormData(document.querySelector('form'));

            var xhr = new XMLHttpRequest({ mozSystem: true });
            xhr.open('POST', '/', true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.responseText == "StringERR") {
                        document.getElementById('summary').innerHTML = "";
                        alert("Please enter sentence having at least 10 words")

                    } else if (xhr.responseText == "ConverstionERR") {
                        document.getElementById('summary').innerHTML = "";
                        alert("Unable to convert given string")

                    }
                    else {
                        document.getElementById('summary').innerHTML = xhr.responseText;
                    }
                }
            };

            xhr.onload = function () { };

            xhr.send(fd);
        }

    </script>

</body>

</html>